Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.txt
[Bb]in
[Dd]ebug*/
[Bb]ackup*/
[Ll]og*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
*.scc
*.vspscc
.idea
.orig

/ErrorLog


/TCWireless.Touch.Holiday.Web/test
TCWireless.Touch.Holiday.Web/ErrorLog.*
TCWireless.Touch.Holiday.Web/ErrorLog
TCWireless.Touch.Holiday.Web/ErrorLog
TongCheng.Mobile.Touch/ErrorLog*
TCWireless.Touch.Holiday.Web/ErrorLog
node_modules
bower_components
#ignore thumbnails created by windows
#Ignore files build by Visual Studio

Permission denied
