<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>preview</title>
    <style>
      html,body{
        font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
        font-size: 14px;
        line-height: 2;
        color: #555;
      }
      #preview{
        overflow: scroll;
        overflow-x: hidden;
        width: 98%;
        overflow-y: hidden;
        padding: 0 11px;
      }
    </style>
  </head>
  <body>
    <div id="preview"></div>
  </body>
</html>
