<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>url生成成功</title>
    <link rel='stylesheet' href='/css/base.css' />
    <link rel='stylesheet' href='/css/success.css' />
  </head>
  <body>
    <%- include common/head%>
    <div class="mainbody">
        <h3>success!</h3>
        <h4>URL: <%= url %></h4>
      </div>
    <%- include common/foot%>
  </body>
</html>
