<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>前端模拟器</title>
    <style>
      .head{
        background: #FFC354;
        height: 120px;
      }
    </style>
  </head>
  <body>
    <div class="head"></div>
  </body>
</html>
